<mat-card>
    <mat-card-header>
        <h2>Cars Detail</h2> &nbsp;
    </mat-card-header>
    <mat-card-content>
        <label >Id</label>
        <input type="text" [(ngModel)]="car.Id" placeholder="Id">
        <label>Make</label>
        <input type="text" [(ngModel)]="car.Make" placeholder="Make">
        <label >Model</label>
        <input type="text" [(ngModel)="car.Model" placeholder="Model">
        <label >Mileage</label>
        <input type="text" [(ngModel)]="car.Mileage" placeholder="Mileage">
        <label>Color</label>
        <input type="text" [(ngModel)]="car.Color" placeholder="Color">
        <label >Quantity</label>
        <input type="text" [(ngModel)]="car.Quantity" placeholder="Quantity">
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>

</mat-card>